# Exclude all YARA rules from GitHub repository language statistics
*.yar linguist-detectable=false linguist-vendored=true linguist-documentation=true
*.yara linguist-detectable=false linguist-vendored=true linguist-documentation=true
**/*.yar linguist-detectable=false linguist-vendored=true linguist-documentation=true
**/*.yara linguist-detectable=false linguist-vendored=true linguist-documentation=true
scanner/yara/** linguist-detectable=false linguist-vendored=true linguist-documentation=true
**/rules/*.yar linguist-detectable=false linguist-vendored=true linguist-documentation=true
